/* Diseño recomendado para List Buttons en Firefox OS usando: Building Blocks (.zip) ; http://buildingfirefoxos.com/downloads/ */

div.bb-docs {
	padding: 1rem;
	padding-bottom: 100px;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}


/* Fuente de Firefox OS */

@font-face {
	font-family: FiraOpenType_Regular;
	src: url("../fonts/130913 Fira Sans OT/FiraSansOT-Regular.otf") format("opentype");
}

@font-face {
	font-family: FiraOpenType_Medium;
	src: url("../fonts/130913 Fira Sans OT/FiraSansOT-Medium.otf") format("opentype");
}


/* Diseño de las fuentes */

html {
	font-size: 10px;	/* tamaño base para la unidad rem */
}

body {
	font-family: FiraOpenType_Regular, sans-serif;
	font-size: 1.9rem;
	font-weight: 400;
}

h1 {
	font-family: FiraOpenType_Regular, sans-serif;
	font-size: 2.5rem;
	font-weight: 400;
	color: white;
}

button {
	font-family: FiraOpenType_Medium, sans-serif;
	font-size: 1.7rem;
	font-weight: 500;
}


/* Diseño general */

#contenedor {
	width: 100%;
	height: 100%;
	background-color: #F4F4F4;
	/* background: url(images/ajedrez_480x800.png); */
}

div.bb-docs {
	/* centrar un poco la lista de botones */
	position: relative;
	top: 20px;
}

.clear {
	clear: both;
}


/* Diseño de la cabecera */

header {
	height: 5rem;
	background-color: #cb6324;
	-moz-box-shadow: 0px 1px 0px #888;
	-webkit-box-shadow: 0px 1px 0px #888;
	box-shadow: 0px 1px 0px #888;
}

#cabecera_izquierda {
	height: 5rem;
	width: 20px;
	/* background: url(icons/actionicon_menu_30x30.png) -10px center no-repeat; */
	background-color: #cb6324;
	float: left;
}

#cabecera_izquierda_retorno {
	height: 5rem;
	width: 20px;
	background: url(icons/retorno.png) -5px center no-repeat;
	background-color: #cb6324;
	float: left;
}

#cabecera_separador_largo_izquierdo {
	height: 5rem;
	width: 2px;
	/* background: url(icons/separador_largo_izquierdo_naranja.png) left center no-repeat; */
	float: left;
}

#cabecera_titulo {
	height: 5rem;
	float: left;
}

h1.centrado_vertical {
	line-height: 5rem;	/* misma altura que su contenedor (cabecera_titulo) ; técnica válida para una sola línea */
	margin-left: 10px;
	display: inline;
}

#cabecera_separador_corto_derecho {
	height: 5rem;
	width: 2px;
	/* background: url(icons/separador_corto_derecho_naranja.png) left center no-repeat; */
	float: right;
}

#boton_derecha {
	height: 5rem;
	width: 50px;
	/* background: url(icons/actionicon_compose_30x30.png) center center no-repeat; */
	float: right;
}
